/** @format */

#certifications {
	background-color: transparent; /* Background color of the certifications section */
	color: #fff; /* Text color */
	text-align: center; /* Centers the heading */
	padding: 40px 0; /* Increased padding for more space */
}

.certifications-container {
	display: flex;
	justify-content: center; /* Centers certifications horizontally */
	align-items: center; /* Aligns certifications vertically */
	flex-wrap: wrap; /* Allows certifications to wrap on small screens */
	gap: 20px; /* Spaces out the certifications */
}

.certification {
	display: flex;
	flex-direction: column; /* Stack the image and text */
	align-items: center; /* Centers the content of each certification */
	transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
	cursor: pointer; /* Changes the cursor to indicate clickable items */
}

.certification img {
	width: 150px; /* Width of the images */
	height: 150px; /* Height of the images, adjusted for square ratio */
	margin-bottom: 10px; /* Space between image and text */
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Shadow for depth */
	border-radius: 10px; /* Optional: rounds the corners for a softer look */
	transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.certification span {
	color: rgb(147, 102, 195); /* Text color for certification names */
	font-size: 1em; /* Adjusted text size for better visibility */
}

.certification:hover img {
	transform: scale(1.1) translateZ(0); /* Scales up the image and moves it along the z-axis */
	z-index: 1; /* Ensures the image is above others when scaled up */
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6); /* Enhances shadow for 3D effect */
}

/**/
.icons-list {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.icons-list li {
	position: absolute;
	width: 100px; /* Adjust based on icon size */
	height: 100px; /* Adjust based on icon size */
	display: flex;
	justify-content: center;
	align-items: center;
}

.icons-list li i {
	font-size: 2em;
	color: rgb(147, 102, 195);
}

/**/
.lets-connect {
	background-color: transparent; /* Semi-transparent background */
	border-radius: 10px; /* Rounded corners for the container */
	padding: 2rem; /* Spacing inside the container */
	box-shadow: 0 10px 20px rgb(147, 102, 195); /* Shadow for 3D effect */
	color: #fff; /* Text color */
	width: 60%;
}

.lets-connect h1 {
	text-transform: uppercase; /* Modern look for the heading */
	letter-spacing: 1.5px; /* Spacing between letters for the heading */
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for 3D effect */
	text-align: center;
}
.form-group {
	margin-bottom: 1rem; /* Spacing between form elements */
}

.form-group label {
	display: block; /* Ensure the label is on a new line */
	margin-bottom: 0.5rem; /* Spacing between label and input field */
	opacity: 0.85; /* Slightly see-through labels for a modern aesthetic */
}

.form-control {
	width: 100%; /* Full width */
	background-color: rgba(
		255,
		255,
		255,
		0.1
	); /* Semi-transparent input backgrounds */
	border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border for inputs */
	border-radius: 5px; /* Rounded edges for inputs */
	padding: 0.75rem; /* Padding inside the inputs */
	color: #fff; /* Input text color */
}
.form-control::placeholder {
	color: rgba(255, 255, 255, 0.7); /* Lighter color for placeholders */
}

.btn-primary {
	background-color: rgb(147, 102, 195); /* Button color matching your theme */
	border: none;
	padding: 0.75rem 1.5rem; /* Larger padding for a bigger button */
	width: 40%; /* Set the width of the button - adjust as needed */
	display: block; /* Ensures the button is a block-level element */
	margin: 1rem auto; /* Centers the button with automatic margins */
	border-radius: 5px; /* Consistent border radius with inputs */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
	transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
	cursor: pointer; /* Changes the mouse cursor to a pointer when hovering over the button */
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: rgb(165, 120, 218); /* Slightly lighter color on hover */
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Increased shadow for lift effect on hover */
}

/* Add responsive design considerations if necessary */
@media (max-width: 768px) {
	.lets-connect {
		padding: 1rem; /* Less padding on smaller screens */
	}
}
@media (max-width: 768px) {
	.btn-primary {
		width: 100%; /* Full width on smaller screens for better mobile responsiveness */
	}
}

/**/

.contact-info {
	text-align: center; /* Center text for heading */
	display: flex;
	flex-direction: column;
	justify-content: center; /* Center the content vertically */
	align-items: center; /* Center the content horizontally */
}

.contact-info h2 {
	margin-bottom: 20px; /* Spacing below the heading */
	color: rgb(147, 102, 195); /* Your chosen color for headings */
}

.contact-list {
	list-style: none; /* Remove list bullets */
	padding: 0; /* Remove default padding */
	margin: 20px 0; /* Spacing above and below the contact list */
}

.contact-list li {
	margin: 10px 0; /* Spacing between contact list items */
	display: flex; /* Aligns the icon and text */
	align-items: center; /* Center the items vertically */
	justify-content: center; /* Center the items horizontally */
}

.contact-icons {
	display: flex;
	justify-content: center; /* Align horizontally */
	align-items: center; /* Align vertically */
	gap: 10px; /* Adjust the space between the icons as needed */
}

.contact-icons a {
	text-decoration: none; /* Optional: Removes the underline from links */
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Adjustments for icon size and color may also be necessary */
.contact-icons i {
	font-size: 1.5rem; /* Adjust the icon size as necessary */
	color: inherit; /* Optional: Icons use current text color */
}

.form-control {
	width: 100%; /* Full width */
	box-sizing: border-box; /* Include padding and borders in the width */
	padding: 10px; /* Comfortable padding inside the inputs */
	margin-bottom: 15px; /* Space between each form element */
	border: 1px solid #ccc; /* Example border, adjust as needed */
	border-radius: 5px; /* Rounded corners for the inputs */
}

/* Add this if you want to ensure that all elements of the form are full width */
#myForm > .form-group {
	width: 100%; /* Full width */
	box-sizing: border-box; /* Include padding and borders in the width */
}
.contacts {
	background-color: #000; /* Portfolio background color */
	color: rgb(147, 102, 195); /* Main font color */
	padding: 40px 20px; /* Spacing around the content */
}

.contact-text > h2 {
	color: rgb(147, 102, 195); /* Headings color */
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for 3D effect */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.split {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.contact-info {
	border-radius: 10px;
	padding-left: 70px;
	padding-top: 50px;
}

.contact-info {
	width: 40%; /* Contact info takes 40% space */
	color: #fff;
}

.form-control {
	border-radius: 5px;
	background: rgba(147, 102, 195, 0.1);
	border: 1px solid rgb(147, 102, 195);
	color: #fff;
}

.contact-icons a,
.contact-list li {
	color: #fff; /* Icons and list color */
	text-decoration: none; /* Remove underline from icons */
}

.contact-icons i,
.contact-list i {
	margin-right: 8px;
}

/* Additional styles for responsiveness and spacing might be needed */

h1.text-center {
	color: #333; /* Dark color for the title */
	margin-bottom: 20px; /* Spacing below the title */
}

textarea.form-control {
	resize: vertical; /* Allow vertical resizing of the textarea */
}

.experience {
	background-color: #000;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: rgb(147, 102, 195);
}

.timeline-container {
	position: relative;
	width: 1200px;
	margin: auto;
}

.timeline {
	position: absolute;
	width: 2px; /* Timeline width */
	background-color: rgb(147, 102, 195);
	left: 50%; /* Adjust if your icon's size changes */
	top: 0;
	bottom: 0;
	z-index: 1;
}

.timeline-item {
	display: flex;
	justify-content: flex-end; /* Align to the right side of the timeline */
	margin-bottom: 30px;
	position: relative;
}

.timeline-item:nth-child(odd) {
	justify-content: flex-start; /* Align to the left side of the timeline */
}

.timeline-icon {
	position: absolute; /* Absolute positioning to place it exactly over the timeline */
	top: 50%; /* Start at the vertical center of its parent */
	left: 50%; /* Start at the horizontal center of its parent */
	transform: translate(
		-50%,
		-50%
	); /* Adjust the position to be centered exactly */
	width: 70px; /* Your specified size */
	height: 70px; /* Your specified size */
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: black; /* Your specified color */
	border: 4px solid rgb(61, 61, 64); /* Your specified border */
	z-index: 2; /* Ensure it's above the timeline */
}

.imgR {
	width: 60px; /* Adjust the size of the logo if necessary */
	border-radius: 50%;
}
.imgI {
	width: 50px; /* Adjust the size of the logo if necessary */
}

.timeline-content {
	background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
	border-radius: 15px; /* Rounded corners for the container */
	padding: 25px; /* Spacing inside the container */
	box-shadow: 0 5px 10px rgb(147, 102, 195);
	color: #fff;
	padding: 15px;
	width: calc(50% - 70px); /* Adjust the width of the content box */
	margin: 0 10px;
	position: relative;
	z-index: 1; /* Above the timeline */
	padding-left: 10px;
	padding-right: 10px;
	border: 2px solid rgba(255, 255, 255, 0.2); /* Less pronounced border for a classy look */
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	display: flex; /* Using flex to ensure inner content is centered */
	align-items: center; /* Vertical alignment to the center */
	justify-content: center; /* Horizontal alignment to the center */
	flex-direction: column; /* Stack children elements vertically */
	overflow: hidden;
}
.timeline-content h2,
.timeline-content h3 {
	margin: 0.5em 0; /* Add space around headings */
	text-transform: uppercase; /* Capitalize headings for impact */
}

.timeline-content ul {
	list-style-type: none; /* Remove list bullets */
	padding: 0; /* Remove default padding */
	margin: 0; /* Remove default margin */
}

.timeline-content li {
	margin-bottom: 1em; /* Space out list items */
	font-size: 1rem; /* Standard font size for readability */
	line-height: 1.5; /* Increase line height for better readability */
}
.datee {
	margin-top: 174px;

	margin-left: 94px;
	font-size: large;
	font-weight: 800;
	z-index: 2;
}
.dateT {
	margin-top: 120px;

	margin-left: 94px;
	font-size: large;
	font-weight: 800;
	z-index: 2;
}
.datel {
	margin-top: 186px;

	margin-right: 94px;
	font-size: large;
	font-weight: 800;
	z-index: 2;
}
.dateI {
	margin-top: 212px;

	margin-right: 94px;
	font-size: large;
	font-weight: 800;
	z-index: 2;
}

.timeline-content h3 {
	color: rgba(147, 102, 195, 0.7);
}
.timeline-content h2 {
	color: #fff;
}

.timeline-content .date {
	color: rgba(147, 102, 195, 0.7);
	font-size: 0.9em;
}

/* Hover effect */
.timeline-content:hover {
	transform: translateY(-10px) scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.timeline-icon:hover {
	box-shadow: 0 0 50px rgb(147, 102, 195);
}

/* Responsive adjustments might be necessary for smaller screens */
@media (max-width: 600px) {
	.timeline-content,
	.timeline-icon {
		width: 100%; /* Full width for mobile */
		margin-left: 0;
		margin-right: 0;
	}
	.timeline {
		left: 10px; /* Adjust for mobile view */
	}
}

.Background {
	background-color: #000; /* Dark background */
	color: rgb(147, 102, 195); /* Main font color */
	font-family: Arial, sans-serif;
	overflow-x: hidden; /* Prevents horizontal scroll */
	padding-top: 100px;
}

.education-roadmap {
	perspective: 1000px;
	transform-style: preserve-3d;
	padding-left: 50px; /* Adjusted to prevent clipping on the left */
}

.roadmap-point {
	background-color: rgb(
		30,
		30,
		30
	); /* Slightly lighter than body for contrast */
	border-left: 5px solid rgb(147, 102, 195);
	padding: 20px;
	margin: 20px 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	transform: translateZ(0);
	transition: transform 0.5s ease, box-shadow 0.5s ease;
	transform-origin: center left; /* Keeps the transformation centered to the left */
	display: flex;
	flex-direction: column;
	align-items: start;
}
.point-title {
	font-size: 18px;
	font-weight: bold;
	margin-right: 18px; /* Space between the icon and the text */
	vertical-align: middle;
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.year-range {
	display: inline;
	font-weight: normal;
	font-size: 16px;
	margin-left: 8px;
}

.university-info {
	display: flex;
	align-items: center; /* Center-align the university name and logo */
	margin-top: 10px; /* Add some space above the university info */
}

.university-logo {
	height: 40px; /* Adjust based on your preference */
	margin-left: 10px; /* Space between text and logo */
	margin-right: 10px;
}
.university-logo2 {
	height: 40px; /* Adjust based on your preference */
	margin-left: 10px; /* Space between text and logo */
	margin-right: 10px;
}
.degree-logo {
	margin-right: 10px;
}

.roadmap-point:hover {
	transform: translateZ(50px) translateX(10px); /* Adjusts to prevent clipping */
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.point-date,
.point-title,
.point-description {
	margin: 5px 0;
}

#Projects {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 50px 0;
	position: relative;
}

.owl-carousel .item {
	transition: transform 0.5s ease, z-index 0s ease 0s;
	border-radius: 1%; /* Rounded corners */
	cursor: pointer;
	margin: 15px;
	background-size: cover; /* Background images cover the card */
	background-position: center; /* Center background images */
	padding: 40px 20px 20px; /* Adjusted padding */
	display: flex;
	flex-direction: column;
	justify-content: flex-end; /* Text aligned to the bottom */
	min-height: 250px; /* Minimum height */
	position: relative; /* Required for z-index to function properly */
	overflow: hidden; /* Ensures no overflow outside the rounded corners */
}

.owl-carousel .item h1,
.owl-carousel .item p {
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Make text readable on varying backgrounds */
}

.owl-carousel .item h1 {
	opacity: 1; /* Ensure title is always visible */
}

.owl-carousel .item p {
	transition: opacity 0.5s ease, transform 0.5s ease;
	transform: translateY(20px);
	opacity: 0; /* Start hidden */
	z-index: -1; /* Ensure it doesn't interfere when not hovered */
	position: relative; /* Needed for z-index manipulation */
}
.owl-carousel .item:hover {
	transform: scale(1.05); /* Enlarge */
	z-index: 10; /* Bring to front */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
}

.owl-carousel .item:hover p {
	opacity: 1; /* Make description visible */
	transform: translateY(0);
	z-index: 1;
}

.nav-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	color: #fff;
	font-size: 2rem;
	cursor: pointer;
}

#navigate-left {
	left: 20px;
}

#navigate-right {
	right: 20px;
}

.end {
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	scroll-behavior: smooth;
}

body {
	color: white;
	background-color: black;
}
#Skills {
	background-color: #000; /* Black background */
	padding: 50px;
	text-align: center;
	margin: 0;
}

.subtitle span {
	color: #3498db; /* Theme color for 'Skills' */
}
.exptitle {
	padding-bottom: 40px;
}
.protitle {
	padding-bottom: 40px;
	padding-top: 50px;
}

.skills-grid {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, 1fr); /* Arrange cards in a single row */
	gap: 20px;
	padding: 0 50px;
	margin: 0 auto;
}

.skill-category {
	background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transitions for hover effects */
}

.skill-category:hover {
	transform: scale(1.05); /* Slightly scale up the card on hover */
	background-color: rgba(
		255,
		255,
		255,
		0.2
	); /* Slightly less transparent on hover */
}

.skill-heading {
	margin-bottom: 20px;
	color: #fff; /* Changed heading color to white */
}

.skill-list {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(120px, 1fr)
	); /* Two columns for skills, auto-fill to accommodate different numbers of skills */
	gap: 10px;
}

.skill-list li {
	font-size: 16px; /* Adjusted font size for list items */
	color: #ddd; /* Lighter grey for list item text */
	display: flex; /* Use flexbox for aligning icon and text */
	align-items: center; /* Center align the icon and text vertically */
}

.skill-list i {
	margin-right: 10px;
	color: #3498db; /* Theme color for icons */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
	.skills-grid {
		grid-template-columns: repeat(
			4,
			1fr
		); /* Adjust to single column for smaller screens */
	}
}

@media (max-width: 768px) {
	.skills-grid {
		grid-template-columns: 1fr; /* Full width single column for very small screens */
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	overflow: hidden;
}

.logo {
	position: relative;
	font-size: 25px;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	cursor: default;
	letter-spacing: 5px;
	opacity: 0;
	animation: slideRight 1s ease forwards;
}

.navbar a {
	display: inline-block;
	font-size: 25px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;

	transition: 0.3s;
	opacity: 0;
	animation: slideUP 0.5s ease forwards;
	animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover {
	color: rgb(147, 102, 195);
	text-decoration: underline;
}

/*home*/

.home {
	position: relative;
	width: 100%;
	justify-content: space-between;
	min-height: 100vh;
	background-color: black;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	padding: 70px 10% 0;
}

.home-content {
	max-width: 800px;
}

.home-content h1 {
	font-size: 56px;
	font-weight: 700;
	margin: -3px 0;
	letter-spacing: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 0;
	animation: slideBottom 1s ease forwards;
	animation-delay: 1s;
}

.home-content h3 {
	font-size: 32px;
	font-weight: 700;
	opacity: 0;
	animation: slideBottom 1s ease forwards;
	animation-delay: 0.7s;
}

.home-content h4 {
	font-size: 32px;
	font-weight: 700;
	opacity: 0;
	animation: slideTop 1s ease forwards;
	animation-delay: calc(0.2s * var(--i));
}

.home-content h4 span {
	color: rgb(147, 102, 195);
	font-size: 32px;
	font-weight: 700;
}

.home-content h4:nth-of-type(2) {
	margin-bottom: 30px;
}

.home-sci a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid rgb(147, 102, 195);
	border-radius: 50%;
	font-size: 20px;
	color: rgb(147, 102, 195);
	text-decoration: none;
	margin: 30px 15px 30px 0;
	opacity: 0;
	animation: slideTop 1s ease forwards;
	animation-delay: calc(0.2s * var(--i));
}

.home-sci a:hover {
	background: rgb(147, 102, 195);
	color: #000;
	box-shadow: 0 0 20px rgb(147, 102, 195);
}

.btn-box {
	display: inline-block;
	padding: 12px 28px;
	background: rgb(147, 102, 195);
	border-radius: 40px;
	font-size: 15px;
	text-align: center;
	color: #081b29;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: 600;
	opacity: 0;
	animation: slideTop 0.5s ease forwards;
	animation-delay: calc(0.2s * var(--i));
}

.btn-box:hover {
	box-shadow: 0 0 5px rgb(147, 102, 195), 0 0 25px rgb(147, 102, 195),
		0 0 50pc rgb(147, 102, 195), 0 0 100px rgb(147, 102, 195),
		0 0 200px rgb(147, 102, 195);
}

.img {
	display: inline-block;
	left: 55%;
	bottom: 15%;
	margin-right: 5%;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: absolute;
	opacity: 0;
	animation: slideUP 1s ease forwards;
	animation-delay: 1s;
}

.responsive {
	width: 100%;
	height: auto;
	border-top-left-radius: 251px;
	border-top-right-radius: 251px;
	border-bottom-left-radius: 251px;
	border-bottom-right-radius: 251px;
}

/*about*/

.about {
	background-color: black;
	display: grid;
	grid-template-columns: repeat(2, 0.5fr);
	/*align-items: center;*/
	/*gap: 1.5rem;*/
	width: 100%;
	justify-content: space-between;

	padding: 70px 5% 0;
}

.abt-res {
	width: 100%;
	height: auto;
	max-width: 492px;
	max-height: 492px;
	border-radius: 90px;
	/*box-shadow: 0 0 5pc cyan, 0 0 5px cyan, 0 0 10px cyan;*/
	border: rgb(147, 102, 195);
}

.about-text {
	margin-right: 2%;
	text-align: center;
	padding: 20px;
	background-color: transparent;
	position: relative;
	width: 100%;
	height: 500px;
}

.about-text h2 {
	font-size: 60px;
	letter-spacing: 5px;
}

.about-text h2 span {
	color: rgb(147, 102, 195);
}

.about-text p {
	color: aliceblue;
	font-size: 20px;
	font-family: Lato;
	line-height: 2;
	letter-spacing: 2px;
	margin-bottom: 4rem;
	text-align: justify;
	text-justify: inter-word;
}

.abtbtn-box {
	display: inline-block;
	padding: 12px 28px;
	margin-top: 20px;
	background: rgb(147, 102, 195);
	border-radius: 40px;
	font-size: 15px;
	text-align: center;
	color: #081b29;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: 600;
}

.abtbtn-box:hover {
	box-shadow: 0 0 5px rgb(147, 102, 195), 0 0 25px rgb(147, 102, 195),
		0 0 50pc rgb(147, 102, 195), 0 0 100px rgb(147, 102, 195),
		0 0 200px rgb(147, 102, 195);
}

/* Skills */
#Skills {
	background-color: #000;
}
.subtitle {
	text-align: center;
	font-size: 60px;
	padding-bottom: 10px;
	padding-top: 70px;
}
.subtitle2 {
	text-align: center;
	font-size: 40px;
	padding-bottom: 10px;
	padding-top: 70px;
}
.subtitle2 span {
	color: rgb(147, 102, 195);
}

.subtitle span {
	color: rgb(147, 102, 195);
}

.sec {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 0px;
}

.container1 {
	width: 600px;
	max-height: 500px;
	padding: 10px;
	margin-left: 100px;
}
.container2 {
	width: 600px;
	max-height: 500px;
	padding: 10px;
	margin-left: 100px;
}

.heading1 {
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 5px;
	text-decoration-thickness: 5px;
	margin-bottom: 0px;
}

.bar {
	font-size: 23px;
}

.Technical-bars .bar {
	margin-top: 40px 0;
	padding: 5px;
}

.Technical-bars .bar:first-child {
	margin-top: 0;
}

.Technical-bars .bar:last-child {
	margin-bottom: 0;
}

.Technical-bars .bar .info {
	margin-bottom: 5px;
}

.Technical-bars .bar .info span {
	font-size: 17px;
	font-weight: 500;
	animation: showText 0.5s 1s linear forwards;
	opacity: 0;
}

.Technical-bars .bar .progress-line {
	position: relative;
	border-radius: 10px;
	width: 100%;
	height: 5px;
	background-color: #000;
	animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
	transform: scaleX(0);
	transform-origin: left;
}

.Technical-bars .bar .progress-line span {
	height: 100%;
	background-color: rgb(147, 102, 195);
	position: absolute;
	border-radius: 10px;
	animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
	transform: scaleX(0);
	transform-origin: left;
}

.path {
	stroke-width: 10;
	stroke: rgb(147, 102, 195);
	fill: transparent;
	stroke-dasharray: 502;
	stroke-dashoffset: 502;
	stroke-linecap: round;
}

.path.path-1 {
	animation: animate-path1 1s 1s linear forwards;
}

.path.path-2 {
	animation: animate-path2 1s 1s linear forwards;
}

.path.path-3 {
	animation: animate-path3 1s 1s linear forwards;
}

.path.path-4 {
	animation: animate-path4 1s 1s linear forwards;
}

.radial-bar .percentage {
	position: absolute;
	align-items: center;
	top: 50%;
	left: 45%;
	transform: translate(-50%, -50%);
	font-size: 17px;
	font-weight: 500;
	animation: showText 0.5s 1s linear forwards;
	opacity: 0;
}

.radial-bar .text {
	width: 100%;
	position: absolute;
	text-align: center;
	left: 15%;
	bottom: 5px;
	transform: translateX(-50px);
	font-size: 17px;
	font-weight: 500;
	animation: showText 0.5s 1s linear forwards;
	opacity: 0;
}

/*contacts*/

.contacts {
	gap: 3rem;
	padding: 40px;
	padding-top: 70px;
	justify-content: center;
	background-color: #000;
}

.contact-text {
	align-content: center;
}

.contact-text h2 {
	font-size: 60px;
	line-height: normal;
	text-align: center;
}

.contact-text h2 span {
	color: rgb(147, 102, 195);
}

.contact-text h4 {
	margin: 15px 0;
	color: rgb(228, 228, 228);
	font-size: 20px;
	font-weight: 600;
}

/*.contact-text p{
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}*/
.contact-list {
	margin-bottom: 3rem;
}

.contact-list li {
	margin-bottom: 10px;
	display: block;
	margin-bottom: 10px;
	letter-spacing: 2px;
}

.contact-list i {
	display: inline-block;
	color: rgb(147, 102, 195);
	font-size: 20px;
	font-weight: 600;
	transition: all 0.4s ease;
	padding: 10px;
}

.contact-icons i {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid rgb(147, 102, 195);
	border-radius: 50%;
	font-size: 20px;
	color: rgb(147, 102, 195);
	text-decoration: none;
	margin: 0px 15px 0px 0;
	opacity: 1;
}

.contact-icons i:hover {
	background: rgb(147, 102, 195);
	color: #000;
	box-shadow: 0 0 20px rgb(147, 102, 195);
}

.last-text p {
	width: 100%;
	text-align: center;
	padding: 25px;
	background: black;
	font-weight: 300;
	margin-top: 0px;
}
.top {
	position: fixed;
	bottom: 2.1rem;
	right: 1rem;
	display: flex;
	opacity: 0;
	transition: all 0.4s;
}

.top.active {
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;
}

.top i {
	color: black;
	background: rgb(147, 102, 195);
	font-size: 20px;
	padding: 10px;
	border-radius: 0.5rem;
}

.top i:hover {
	box-shadow: 0 0 5px rgb(147, 102, 195), 0 0 25px rgb(147, 102, 195),
		0 0 50px rgb(147, 102, 195), 0 0 200px rgb(147, 102, 195);
}

@keyframes animate-path1 {
	100% {
		stroke-dashoffset: 180;
	}
}

@keyframes animate-path2 {
	100% {
		stroke-dashoffset: 140;
	}
}

@keyframes animate-path3 {
	100% {
		stroke-dashoffset: 90;
	}
}

@keyframes animate-path4 {
	100% {
		stroke-dashoffset: 50;
	}
}

@keyframes animate-bar {
	100% {
		stroke-dashoffset: -1;
	}
}

@keyframes showText {
	100% {
		opacity: 1;
	}
}

@keyframes animate {
	100% {
		transform: scaleX(1);
	}
}

@keyframes slideRight {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slideTop {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slideBottom {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slideUP {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@media (max-width: 900px) and (min-width: 700px) {
	.header {
		display: block;
	}
	.logo {
		position: relative;
		font-size: 30px;
		font-weight: 500;
		text-align: center;
	}
	.logo::after {
		content: '\a';
		white-space: pre;
	}
	.navbar a {
		font-size: 25px;
		font-weight: 200;
		margin-left: 0px;
		padding: 10px 10px 0 0;
	}
	.navbar a::after {
		content: '\a';
		white-space: pre;
	}
}

@media (max-width: 700px) and (min-width: 400px) {
	* {
		overflow-x: hidden;
		overflow-y: inherit;
	}
	/*navbar*/
	.header {
		display: block;
	}
	.logo {
		position: relative;
		font-size: 20px;
		font-weight: 500;
		text-align: center;
	}
	.logo::after {
		content: '\a';
		white-space: pre;
	}
	.navbar a {
		font-size: 15px;
		font-weight: 200;
		margin-left: 0px;
		padding: 10px 10px 0 0;
	}
	.navbar a::after {
		content: '\a';
		white-space: pre;
	}

	/*home*/
	.home {
		align-items: normal;
		padding-top: 40%;
		padding-bottom: 0;
	}
	.home-content h1 {
		font-size: 40px;
		font-weight: 600;
	}

	.home-content h3 {
		font-size: 30px;
		font-weight: 300;
	}

	.home-content h4 {
		font-size: 18px;
		font-weight: 200;
	}

	.home-content h4 span {
		font-size: 18px;
		font-weight: 200;
	}
	.img {
		max-width: 400px;
		position: relative;
		left: -10%;
		top: 2%;
		padding-bottom: 30px;
		padding-left: 0;
		margin-left: 0;
	}
	.btn-box:hover {
		box-shadow: 0 0 5px rgb(147, 102, 195), 0 0 10px rgb(147, 102, 195),
			0 0 15pc rgb(147, 102, 195), 0 0 20px rgb(147, 102, 195),
			0 0 25px rgb(147, 102, 195);
	}
	/*about*/
	.about {
		padding-bottom: 20px;
		min-height: auto;
	}
	.about-text h2 {
		font-size: 30px;
		letter-spacing: 5px;
	}

	.about-text p {
		font-size: 15px;
		line-height: normal;
		letter-spacing: 1px;
		margin-bottom: 4rem;
		text-align: left;
	}
	.abtbtn-box:hover {
		box-shadow: 0 0 5px rgb(147, 102, 195), 0 0 10px rgb(147, 102, 195),
			0 0 15pc rgb(147, 102, 195), 0 0 20px rgb(147, 102, 195),
			0 0 25px rgb(147, 102, 195);
	}

	/*skills*/
	.subtitle {
		font-size: 50px;
		text-align: center;
	}
	.container1 {
		width: 600px;
		max-height: 500px;
		padding: 20px;
		margin-left: 50px;
	}
	.container2 {
		width: 600px;
		max-height: 500px;
		padding: 10px;
		margin-left: 0px;
	}
	.bar .info .addhtml::before {
		content: '90%';
	}
	.bar .info .addcss::before {
		content: '80%';
	}
	.bar .info .addpy::before {
		content: '75%';
	}
	.bar .info .addjava::before {
		content: '50%';
	}
	.bar .info .addc::before {
		content: '50%';
	}

	/*project*/
	.main-text {
		padding-top: 20px;
		margin-top: 10px;
		padding-bottom: 50px;
	}
	.main-text h2 {
		font-size: 50px;
		padding-bottom: 15px;
	}
	.layer p {
		line-height: normal;
	}
	/*service*/
	.sub-title {
		font-size: 50px;
		padding-bottom: 50px;
	}
	.prj-list div {
		padding: 20px;
	}
	/*contact*/
	.contacts h2 {
		font-size: 50px;
	}
	.contact-list i {
		font-size: 15px;
		padding: 5px 5px 0 0;
	}

	.top {
		position: fixed;
		bottom: 2rem;
		left: 1rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		opacity: 0;
		transition: all 0.4s;
	}
}

@media (max-width: 400px) {
	* {
		overflow-x: hidden;
	}
	.header {
		display: block;
	}
	.logo {
		position: relative;
		font-size: 20px;
		font-weight: 500;
		text-align: center;
	}
	.logo::after {
		content: '\a';
		white-space: pre;
	}
	.navbar a {
		font-size: 13px;
		font-weight: 200;
		margin-left: 0px;
		padding: 10px 4px 0 0;
	}
	.navbar a::after {
		content: '\a';
		white-space: pre;
	}

	/*home*/
	.home {
		width: 100%;
		align-items: normal;
		padding-top: 40%;
		padding-bottom: 0;
	}
	.home-content h1 {
		font-size: 30px;
		font-weight: 600;
	}

	.home-content h3 {
		font-size: 20px;
		font-weight: 300;
	}

	.home-content h4 {
		font-size: 15px;
		font-weight: 200;
	}

	.home-content h4 span {
		font-size: 15px;
		font-weight: 200;
	}
	.btn-box:hover {
		box-shadow: 0 0 5px rgb(147, 102, 195), 0 0 10px rgb(147, 102, 195),
			0 0 15pc rgb(147, 102, 195), 0 0 20px rgb(147, 102, 195),
			0 0 25px rgb(147, 102, 195);
	}
	.img {
		max-width: 300px;
		position: relative;
		left: -10%;
		top: 2%;
		padding-bottom: 30px;
		padding-left: 0;
		margin-left: 0;
		margin-right: 0;
	}

	/*about*/
	.about {
		padding-bottom: 20px;
		min-height: auto;
	}
	.about-text h2 {
		font-size: 30px;
		letter-spacing: 5px;
	}

	.about-text p {
		font-size: 15px;
		line-height: normal;
		letter-spacing: 0px;
		margin-bottom: 4rem;
		text-align: left;
	}
	.abtbtn-box:hover {
		box-shadow: 0 0 5px rgb(147, 102, 195), 0 0 10px rgb(147, 102, 195),
			0 0 15pc rgb(147, 102, 195), 0 0 20px rgb(147, 102, 195),
			0 0 25px rgb(147, 102, 195);
	}

	/*skills*/
	.subtitle {
		font-size: 50px;
		text-align: center;
	}
	.container1 {
		width: 600px;
		max-height: 500px;
		padding: 20px;
		margin-left: 50px;
	}
	.container2 {
		width: 600px;
		max-height: 500px;
		padding: 10px;
		margin-left: 0px;
	}
	.radial-bar .text {
		left: 25%;
	}
	.bar .info .addhtml::before {
		content: '90%';
	}
	.bar .info .addcss::before {
		content: '80%';
	}
	.bar .info .addpy::before {
		content: '75%';
	}
	.bar .info .addjava::before {
		content: '50%';
	}
	.bar .info .addc::before {
		content: '50%';
	}

	/*project*/
	.main-text {
		padding-top: 20px;
		margin-top: 10px;
		padding-bottom: 50px;
	}
	.main-text h2 {
		font-size: 50px;
		padding-bottom: 15px;
	}
	.layer p {
		line-height: normal;
	}

	/*service*/
	.sub-title {
		font-size: 50px;
		padding-bottom: 50px;
	}

	/*contact*/
	.contacts h2 {
		font-size: 50px;
	}
	.contact-list i {
		font-size: 13px;
		padding: 5px 5px 0 0;
	}

	.top {
		position: fixed;
		bottom: 2rem;
		left: 1rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		opacity: 0;
		transition: all 0.4s;
	}
	.top i {
		color: #000;
	}
}
